
{% extends "base.html" %}
{% load static %}

 
	{% block head %}


{% endblock %}

{%block body1%}

<h1 class="display-4">Diagnose on your own!...</h1>
            <p class="lead">
                There is a lack of information by many farmers in regard to how pests and diseases can 
                be diagnosed and fought by commercial sugar
                 cane farmers in Uganda (Diemer et al., 2020; Seguya et al., 2017). This system offers a quick to understand and diagnose 
                 sugarcane diseases. After diagnosis, the farmer is advised on the management of the identified disease.
                </p>
                <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/diagnosis'">Get started</button></a>

{%endblock%}