{% extends "base.html" %}
{% load static %}
{%block body1%}
<h6 align="center">Pokkah Boeng</h6>
<p>
    Pokkah boeng disease (PBD) is an airborne fungal disease caused by Fusarium fujikuroi species complex (FFSC) and is responsible for severe yield losses in susceptible varieties of sugarcane worldwide
    Chlorotic Phase: The earliest symptom of Pokkahboeng is a chlorotic condition towards the base of the young leaves and occasionally on the other parts of the leaf blades. Frequently, a pronounced wrinkling, twisting and shortening of the leaves accompanied the malformation or distortion of the young leaves.
</p>
<hr width="100%"size="30" color="green"noshade>
<p>
<table id="customers" width="100%">
    <tr><td><img src="" height="200px"><img src="{%static '/images/pok2.jpg' %}" height="200px"></td><td><img src="{%static '/images/pok3.png' %}" height="200px"></td><td><img src="{%static '/images/pok4.png' %}" height="200px"><img src="{%static '/images/pok5.png' %}" height="200px"></td></tr>
</table>

</p>

<p>
    <h6>SYMPTOMS</h6>
    Fungal infections may typically cause noticeable signs of abnormal development, patterns and colors, but non-biological
issues can cause normal, stable symptoms. <br> <b>Chlorotic Phase</b><br>
1.Severely infected plants exhibit top deformities or damage, and stalks can occur in highly susceptible varieties<br>
<b>Top-Rot Phase</b><br>
2.The most advanced and severe stage of Pokkah Boeng is the top rot phase. Leaf infection sometimes continues downward
and penetrates into the stem through the growth point<br><b>Knife-Cut Phase</b><br>
3.The symptoms of knife-cut stage are observed in association with the acute phase of the disease characterized by one or two
or even more transverse cuts in the rind of the stalk /stem in such a uniform manner as if, the tissues are removed with a
sharp knife

</p>
<hr width="100%"size="30" color="green"noshade>
<p>
    <h6>Management</h6>
    1. Spraying different fungicides, such as Bavistin (1 g l-1 water) or Blitox (2 g l-1 water) or copper oxychloride or Dithane
M-45 (3 g l-1 water) 2- 3 times for 15 days<br>
      

    
</p>
{%endblock%}