{% extends "base.html" %}
{% load static %}
{%block body1%}
<h6 align="center">SUGARCANE RATOON STUNTING</h6>
<p>
    Ratoon stunting, also known as ratoon stunting disease (RSD), is considered by many sugarcane
     pathologists to be the most important disease affecting sugarcane production worldwide, because
      it can cause 5% to 15% crop yield losses without growers even realizing their fields are infected 
      (Comstock 2002; Davis and Bailey 2000). The disease is caused by a bacterial pathogen and has 
      no easily recognized external symptoms, only stunting of growth that may not always be apparent 
      in the field. Furthermore, even when stunting of growth is noticeable, other factors could be 
      the cause, including poor cultural practices, inadequate moisture, or nutrient deficiencies. 
      During dry weather, the diseased cane will often show signs of drought stress earlier than 
      healthy cane, but with adequate moisture, visual detection of differences may be difficult or impossible.
    CP96-1252 and CP00-1101 are resistant; CP78-1628, CP80-1743, CP88-1762, CP89-2143, and CP01-1372 are 
    moderately resistant; however, CL88-4730 and CP84-1198 are moderately susceptible to the disease. 
    A clean seed-cane program is therefore recommended for the cultivars that are moderately resistant or susceptible.
</p>
<hr width="100%"size="30" color="green"noshade>
<p>
<table id="customers" width="100%">
    <tr><td><img src="{%static '/images/rsd1.jpg' %}" height="200px"><img src="{%static '/images/rsd4.jpg' %}" height="200px"></td><td><img src="{%static '/images/rsd5.jpg' %}" height="200px"></td><td><img src="{%static '/images/rsd3.jpg' %}" height="200px"><img src="{%static '/images/rsd6.jpg' %}" height="200px"></td></tr>
</table>

</p>

<p>
    <h6>SYMPTOMS</h6>
    1. The affected plants are stunted, the stunting being most severe in stubble and ratoon crops.<br>
    2. In infected stocks, the presence of pin head like orange coloured dots of bacteria on the internal soft tissue in the nodal region<br>
    3. The setts taken from diseased plants germinate poorly and the few shoots that are emerged grow very slowly.<br>
    </p>
<hr width="100%"size="30" color="green"noshade>
<p>
    <h6>Management</h6>
    1.Select healthy setts for planting.<br>
    2. Field should maintain at proper sanitation.<br>
    3. Ungerminated setts should be removed and fill the gap with new setts which should be treated before planting.<br>
    4. Treat the setts with hot water at 50°C for about 2 hours<br>
    5.Aerated steam therapy eliminates the pathogen from the infected canes<br>
    6.Ungerminated setts should be removed and fill the gap with new setts which should be treated before planting<br>
    
</p>
{%endblock%}