{% extends "base.html" %}
{% load static %}
{%block body1%}
<h6 align="center">Red Rot Disease</h6>
<p>
    Red rot is a very serious disease of sugarcane. It was first described by Went in 1893 (56). Since then it has been found to cause epiphytotics in different countries. The surest symptom of the disease is the reddening of the internal internodal tissues with crossbars of white patches in the reddened area
</p>
<hr width="100%"size="30" color="green"noshade>
<p>
<table id="customers" width="100%">
    <tr><td><img src="{%static '/images/red.jpg' %}" height="200px"><img src="{%static '/images/red2.png' %}" height="200px"></td><td><img src="{%static '/images/red3.jpg' %}" height="200px"></td><td><img src="{%static '/images/red4.jpg' %}" height="200px"><img src="" height="200px"></td></tr>
</table>

</p>

<p>
    <h6>SYMPTOMS</h6>
    1. The spindle leaves (3rd & 14th)) display drying. At a later stage, stalks become discoloured and hollow.<br>
    2. Acervuli (black fruiting bodies) develop on rind and nodes. <br>
    3. After splitting open the diseased stalk, a sour smell emanates.<br>
    4. The internal tissues are reddened with intermingled transverse white spots.<br>
</p>
<hr width="100%"size="30" color="green"noshade>
<p>
    <h6>Management</h6>
    1. The best way to control red rot is to select setts for planting from healthy plants in a disease- free area.<br>
    2. The red rot affected field must be rotated with rice for one season and other crops for two seasons.<br>
3. Growing of recommended resistant and moderately resistant varieties viz., Co 86032,  Co 86249, CoSi 95071, CoG 93076, CoC 22, CoSi 6 and CoG 5<br>
4. Removal of the affected clumps at an early stage and soil drenching with  Carbendazim 50 WP (1 gm in 1 litre of water)<br>
5. The cut ends and entire setts should be dipped in a fungicide solution, such as one per cent Bordeaux mixture.<br>
6. If the disease is noticed in the field, the leaves and canes should be collected and destroyed by burning.<br>
7. Adopt sett treatment with Carbendazim before planting (Carbendazim 50 WP (0.5 gm in 1 litre of water) or Carbendazim 25 DS (1gm in 1 litre of water) along with 2.5 kg of Urea in 250 litre of water<br>
8. Use fungitoxic chemicals like Bavistan, Benomyl, Topsin and Aretan at 0.1 per cent for 18 min. at 52ºC for dipping setts which gave almost complete elimination of rot infection.    <br>
</p>
{%endblock%}