{% extends "base.html" %}
{% load static %}
{%block body1%}
<h6 align="center">SUGARCANE RATOON STUNTING</h6>
<p>
    Ratoon stunting, also known as ratoon stunting disease (RSD), is considered by many sugarcane
     pathologists to be the most important disease affecting sugarcane production worldwide, because
      it can cause 5% to 15% crop yield losses without growers even realizing their fields are infected 
      (Comstock 2002; Davis and Bailey 2000). The disease is caused by a bacterial pathogen and has 
      no easily recognized external symptoms, only stunting of growth that may not always be apparent 
      in the field. Furthermore, even when stunting of growth is noticeable, other factors could be 
      the cause, including poor cultural practices, inadequate moisture, or nutrient deficiencies. 
      During dry weather, the diseased cane will often show signs of drought stress earlier than 
      healthy cane, but with adequate moisture, visual detection of differences may be difficult or impossible.
    CP96-1252 and CP00-1101 are resistant; CP78-1628, CP80-1743, CP88-1762, CP89-2143, and CP01-1372 are 
    moderately resistant; however, CL88-4730 and CP84-1198 are moderately susceptible to the disease. 
    A clean seed-cane program is therefore recommended for the cultivars that are moderately resistant or susceptible.
</p>
<hr width="100%"size="30" color="green"noshade>
<p>
<table id="customers" width="100%">
    <tr><td><img src="{%static '/images/rsd1.jpg' %}" height="200px"><img src="{%static '/images/rsd4.jpg' %}" height="200px"></td><td><img src="{%static '/images/rsd5.jpg' %}" height="200px"></td><td><img src="{%static '/images/rsd3.jpg' %}" height="200px"><img src="{%static '/images/rsd6.jpg' %}" height="200px"></td></tr>
</table>

</p>

<p>
    <h6>SYMPTOMS</h6>
    Although there may be no externally conspicuous symptoms of the disease, internally there is usually an 
    orange-red discoloration of the vascular bundles that contain the water-conducting tissues (xylem) at the
     basal nodes of the stalk (Figure 1). Similar discoloration is also associated with other sugarcane diseases 
     or insect damage; therefore, it is not a totally reliable indicator of RSD infection. However, in contrast 
     to some other sugarcane diseases, the discoloration of vascular bundles caused by the RSD pathogen does not
      extend into the internodes. Adjacent
     nodes in mature stalks will usually show similar discoloration if these stalks are infected by the bacteria.
</p>
<hr width="100%"size="30" color="green"noshade>
<p>
    <h6>Management</h6>
    The use of healthy, disease-free seed cane is an important control measure.
     This planting material can be obtained by tissue culture (meristem tip tissue culture),
      or after hot-water treatment of sugarcane, to eliminate bacteria prior to the establishment of seed cane nurseries.
       The hot-water treatment consists of an immersion of sugarcane cuttings in running water at ambient temperature for
        24–48 hours followed by an immersion in water at 50°C (122°F) for 2–3 hours.</br>
        Chemical disinfectants that may be used on cane-cutting knives include Lysol, Dettol, ethanol, Mirrol, and Roccal.
         At least five minutes of contact with the cutting surface are needed to assure disinfection, 
         but a shorter disinfection time will be partially helpful<br>
         Planting of Ratoon resistant varieties like CP 72-2086(Contact extension expert when deciding on the variety to plant)

    
</p>
{%endblock%}